.flavors {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-xl);

  .flavor-card {
    @media (width >= 992px) {
      &--tropical {
        transform: translateY(0);
      }

      &--pink {
        transform: translateY(20%);
      }

      &--caramel {
        transform: translateY(10%);
      }
    }
  }

  &__jar-img {
    display: none;

    @media (width >= 992px) {
      position: absolute;
      right: 10%;
      bottom: -10%;
      z-index: var(--z-content);
      display: block;
      width: clamp(200px, 20vw, 300px);
      transform: rotate(-15deg);
      filter: drop-shadow(10px 20px 30px rgb(0 0 0 / 30%));
    }
  }

  @media (width >= 992px) {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 20vh;
  }
}
