.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: var(--header-height);
  overflow: hidden;

  &__title {
    position: relative;
    z-index: var(--z-content);
    max-width: 90vw;
    margin-bottom: 0;
    text-align: center;
    word-spacing: -0.05em;
    color: var(--color-primary);
    background-image: url('../../img/texture.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;

    @media (width >= 768px) {
      max-width: 70vw;
    }
  }

  &__mascot {
    position: absolute;
    top: 20%;
    right: 10%;
    z-index: var(--z-content);
    width: clamp(80px, 15vw, 150px);
    transform: rotate(-30deg);

    @media (width >= 768px) {
      top: 25%;
      right: auto;
      left: 30%;
    }
  }
}
